<div class="form-group">
  <button name="tokenvisibility-button-foundry-default">
    <i class="fas fa-sliders"></i>
    {{localize "tokenvisibility.settings.button-foundry-default.Label"}}
  </button>
</div>

<div class="form-group">
  <button name="tokenvisibility-button-dnd5e-dmg">
    <i class="fas fa-sliders"></i>
    {{localize "tokenvisibility.settings.button-dnd5e-dmg.Label"}}
  </button>
</div>

<div class="form-group">
  <button name="tokenvisibility-button-pf2e">
    <i class="fas fa-sliders"></i>
    {{localize "tokenvisibility.settings.button-pf2e.Label"}}
  </button>
</div>

<div class = "form-group">
  <button name="tokenvisibility-button-three-d">
    <i class="fas fa-sliders"></i>
    {{localize "tokenvisibility.settings.button-three-d.Label"}}
  </button>
</div>
